---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Página de Inicio"

---

<BaseLayout pageTitle={pageTitle} >
    <h1>Mi sitio Astro</h1>
    <h2>He creado mi plantilla</h2>
</BaseLayout>

