---
import Social from "./Social.astro";

// const platform = "Github";
// const username = "GowZenitAC";
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>

<footer class="">
  <!-- <p>Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->

<Social platform="twitter" username="Jsus341"/>
<Social platform="Facebook" username="Armando Alpuche"/>
<Social platform="Github" username="GowZenitAC"/>
</footer>